.container {
    width: 340px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 10px 10px 3px 0px rgba(93,119,142,1);
    background-color: #e2d1b7;
}

h3 {
    text-transform: capitalize;
    margin: 2%;
    padding: 2%;
}

img {
    margin: 2%;
    padding: 2%;
}

.interesting_fact {
    font-style: italic;
}

.informations {
    box-sizing: content-box;
    border: 1px solid black;
    margin: 2%;
    padding: 2%;
    background-color: #eae9f1;
}

ul {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}